In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [ ]:
2 + 9

In [ ]:
2 * 9

In [ ]:
2 / 9

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

In [ ]:
'hello'

## Names ##

In [ ]:
a

In [ ]:
a = 4

In [ ]:
a

In [ ]:
b = 9

In [ ]:
b

In [ ]:
a * 3

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
a = 10

In [ ]:
total

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
'total'

### Why Names?

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
# Minimum wage for businesses w/26 or more employees
# Goes up by $1/hr until 2022
ca_hourly_minimum_wage = 13.00

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

In [ ]:
40 * 13.00

In [ ]:
40 * 52 * 13.00

## Functions and Call Expressions

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

In [ ]:
f = lambda b: b+2

In [ ]:
def g(c):
    return c+2

In [ ]:
f(3) + g(5)

## Tables ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
chicago = skyscrapers.where('city', 'Chicago').drop('city')
chicago

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)

In [ ]:
nba = Table.read_table('nba_salaries.csv')

## Numbers ##

In [ ]:
4 * 5

In [ ]:
20  # int

In [ ]:
20 / 3  # float

In [ ]:
20 / 2  # also a float

In [ ]:
1234 ** 5

In [ ]:
123456789 ** 1234

In [ ]:
4 / 700

In [ ]:
4 / 700000000000000000

In [ ]:
0.12345678901234567890123456789

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
10 ** 0.5

In [ ]:
16 ** 0.5

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
20 / 10

In [ ]:
int(20 / 10)

In [ ]:
int(20 / 9)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
10 * 3.0

## Strings ##

In [ ]:
'baby yoda'

In [ ]:
"baby yoda isn't yoda"

In [ ]:
'baby yoda isn't yoda'

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'straw' + ' ' + 'berry'

In [ ]:
'ha' * 10

In [ ]:
'lo' * 5.5

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
len(my_array) / sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [ ]:
sf = skyscrapers.where('city', 'San Francisco')
sf

In [ ]:
sf.select('height')

In [ ]:
sf.column('height')

In [ ]:
np.average(sf.column('height'))

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')

In [ ]:
np.average(la.column('height')) - np.average(sf.column('height'))

## Arrays

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
heights / 12

In [ ]:
len(heights)

In [ ]:
sum(heights)

In [ ]:
sum(heights) / len(heights)

In [ ]:
np.average(heights)

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
strings_array * 2

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

In [ ]:
strings_array.item(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
southside.labels

In [ ]:
southside.num_columns

In [ ]:
southside.num_rows

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
# Which group ("CLASS") spent the highest percentage on rent?
...

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column(
    'Food $',
    food_dollars
)
du_bois

In [ ]:
du_bois.set_format('FOOD', PercentFormatter)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.column('FOOD')

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
movies = movies.with_column('Tickets sold', tix_sold)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('Year', 2002)

In [ ]:
movies.where('Year', are.equal_to(2002))

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
movies.take(np.arange(2, 5))