In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Apply

In [ ]:
staff = Table().with_columns(
    'Employee', make_array('Jim', 'Dwight', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
staff

In [ ]:
def greeting(person):
    return 'Dunder Mifflin, this is ' + person

In [ ]:
greeting('Pam')

In [ ]:
greeting('Erin')

In [ ]:
staff.apply(greeting, 'Employee')

In [ ]:
def name_and_age(name, year):
    age = 2019 - year
    return name + ' is ' + str(age)

In [ ]:
staff.apply(name_and_age, 'Employee', 'Birth Year')

## Prediction ##

In [ ]:
galton = Table.read_table('galton.csv')
galton

In [ ]:
galton.scatter('midparentHeight', 'childHeight')

In [ ]:
galton.scatter('midparentHeight', 'childHeight')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2);

In [ ]:
nearby = galton.where('midparentHeight', are.between(67.5, 68.5))
nearby_mean = nearby.column('childHeight').mean()
nearby_mean

In [ ]:
galton.scatter('midparentHeight', 'childHeight')
plots.plot([67.5, 67.5], [50, 85], color='red', lw=2)
plots.plot([68.5, 68.5], [50, 85], color='red', lw=2)
plots.scatter(68, nearby_mean, color='red', s=50);

In [ ]:
def predict(h):
    nearby = galton.where('midparentHeight', are.between(h - 1/2, h + 1/2))
    return nearby.column('childHeight').mean()

In [ ]:
predict(68)

In [ ]:
predict(70)

In [ ]:
predict(73)

In [ ]:
predicted_heights = galton.apply(predict, 'midparentHeight')
predicted_heights

In [ ]:
galton = galton.with_column('predictedHeight', predicted_heights)

In [ ]:
galton.select(
    'midparentHeight', 'childHeight', 'predictedHeight').scatter('midparentHeight')

## Prediction Accuracy ##

In [ ]:
def difference(x, y):
    return x - y

In [ ]:
pred_errs = galton.apply(difference, 'predictedHeight', 'childHeight')
pred_errs

In [ ]:
galton = galton.with_column('errors',pred_errs)
galton

In [ ]:
galton.hist('errors')

In [ ]:
galton.hist('errors', group='gender')

# Discussion Question

In [ ]:
def predict_smarter(h, g):
    nearby = galton.where('midparentHeight', are.between(h - 1/2, h + 1/2))
    nearby_same_gender = nearby.where('gender', g)
    return nearby_same_gender.column('childHeight').mean()

In [ ]:
predict_smarter(68, 'female')

In [ ]:
predict_smarter(68, 'male')

In [ ]:
smarter_predicted_heights = galton.apply(predict_smarter, 'midparentHeight', 'gender')
galton = galton.with_column('smartPredictedHeight', smarter_predicted_heights)

In [ ]:
smarter_pred_errs = galton.apply(difference, 'childHeight', 'smartPredictedHeight')
galton = galton.with_column('smartErrors', smarter_pred_errs)

In [ ]:
galton.hist('smartErrors', group='gender')

## Grouping by One Column ##

In [ ]:
cones = Table.read_table('cones.csv')

In [ ]:
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.drop('Color').group('Flavor', np.average)

In [ ]:
cones.drop('Color').group('Flavor', min)

## Grouping By One Column: Welcome Survey ##

In [ ]:
survey = Table.read_table('welcome_survey_v2.csv')

In [ ]:
survey.group('Year', np.average)

In [ ]:
by_extra = survey.group('Extraversion', np.average)
by_extra

In [ ]:
by_extra.select(0,2,3).plot('Extraversion') # Drop the 'Years average' column

In [ ]:
by_extra.select(0,3).plot('Extraversion')

## Lists

In [ ]:
[1, 5, 'hello', 5.0]

In [ ]:
[1, 5, 'hello', 5.0, make_array(1,2,3)]

## Grouping by Two Columns ##

In [ ]:
survey = Table.read_table('welcome_survey_v3.csv')

In [ ]:
survey.group(['Handedness','Sleep position']).show()

## Pivot Tables

In [ ]:
survey.pivot('Sleep position', 'Handedness')

In [ ]:
survey.pivot('Sleep position', 'Handedness', values='Extraversion', collect=np.average)

In [ ]:
survey.group('Handedness', np.average)

## Lists

In [ ]:
simple_list = ['hello', 7, 3.14, True]
simple_list

In [ ]:
my_array = make_array(1, 2, 3)

crowded_list = [my_array, 'what is going on', -10]
crowded_list

In [ ]:
Table().with_columns('Numbers', [1, 2, 3])

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

## Grouping by one column

In [ ]:
survey = Table.read_table('welcome_survey_v4.csv')
survey.show(3)

In [ ]:
survey.group('Sleep position').show()

In [ ]:
survey.group('Sleep position', np.average)

In [ ]:
survey.select('Sleep position', 'Hours of sleep').group('Sleep position', np.average)

## Cross-classification: grouping by two columns

In [ ]:
survey.group(['Handedness','Sleep position']).show()

In [ ]:
survey.pivot('Sleep position', 'Handedness')

In [ ]:
survey.pivot('Sleep position', 'Handedness', 'Hours of sleep', np.average)

In [ ]:
(survey.select('Handedness', 'Sleep position', 'Hours of sleep')
       .group(['Handedness','Sleep position'], np.average)).show()

In [ ]:
# Here, pivot doesn't know how to combine all the hours of sleep
# for each subgroup of students
survey.pivot('Sleep position', 'Handedness', 'Hours of sleep')

## Challenge Question ##

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2020 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [ ]:
# 1. For each city, what’s the tallest building for each material?

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?

Don't read ahead until you try the challenge questions yourself first!

In [ ]:
sky.select('material', 'city', 'height').group(['city', 'material'], max)

In [ ]:
sky_p = sky.pivot('material', 'city', 'height', max)
sky_p.show()

In [ ]:
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

In [ ]:
sky_p.sort('difference', True)

### Take-home question: try it here!

In [ ]:
# Generate a table of the names of the oldest buildings for each 
# material for each city:

## Joins ##

In [ ]:
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

In [ ]:
drinks.join('Cafe', drinks, 'Cafe')